In [47]:
from sklearn.feature_extraction.text import CountVectorizer

import pandas as pd

In [48]:
data = ["this is the first document",
       "this is the second document",
       "this is the third document",
       "this is the fourth document"]

In [49]:
vectorizer = CountVectorizer()

In [50]:
X = vectorizer.fit_transform(data)
X

<4x8 sparse matrix of type '<class 'numpy.int64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [51]:
vectorizer.vocabulary_  ##it means 'this' is index 7 on the list

{'this': 7,
 'is': 3,
 'the': 5,
 'first': 1,
 'document': 0,
 'second': 4,
 'third': 6,
 'fourth': 2}

In [52]:
vectorizer.get_feature_names_out()

array(['document', 'first', 'fourth', 'is', 'second', 'the', 'third',
       'this'], dtype=object)

In [53]:
X.toarray()

array([[1, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 1, 1, 0, 1],
       [1, 0, 0, 1, 0, 1, 1, 1],
       [1, 0, 1, 1, 0, 1, 0, 1]], dtype=int64)

In [54]:
pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

   document  first  fourth  is  second  the  third  this
0         1      1       0   1       0    1      0     1
1         1      0       0   1       1    1      0     1
2         1      0       0   1       0    1      1     1
3         1      0       1   1       0    1      0     1

In [55]:
test_data = ["this is my first NLP"]

result = vectorizer.fit_transform(test_data)
result

<1x5 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [56]:
result.toarray()

array([[1, 1, 1, 1, 1]], dtype=int64)

In [57]:
vectorizer.get_feature_names_out()

array(['first', 'is', 'my', 'nlp', 'this'], dtype=object)

In [58]:
pd.DataFrame(result.toarray(),columns=vectorizer.get_feature_names_out())

   first  is  my  nlp  this
0      1   1   1    1     1