In [2]:
import pandas as pd
import numpy as np

In [3]:
my_series = [5,4,26,9]
my_index = ['A','B','C','D']

In [5]:
my_var = pd.Series(my_series,my_index)
my_var

A     5
B     4
C    26
D     9
dtype: int64

In [6]:
cars = {'Tesla':12,'Astone martin':76,'Benz':54}
my_var2 = pd.Series(cars)
my_var2

Tesla            12
Astone martin    76
Benz             54
dtype: int64