In [2]:
import pandas as pd

people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [3]:
df = pd.DataFrame(people)
df.set_index('email',inplace=True)
df
df.loc[['CoreyMSchafer@gmail.com'],['first','last']]

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer

In [4]:
df.loc['JohnDoe@email.com']

first    John
last      Doe
Name: JohnDoe@email.com, dtype: object

In [5]:
df.loc['JohnDoe@email.com','last']

'Doe'

In [6]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [7]:
df = pd.read_csv("csv_data/survey_results_public.csv",index_col='Respondent')
schema_df = pd.read_csv("csv_data/survey_results_schema.csv",index_col='Column')
schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [8]:
df.loc[1,'Employment']

'Not employed, and not looking for work'

In [9]:
schema_df.loc['SurveyEase']

QuestionText    How easy or difficult was this survey to compl...
Name: SurveyEase, dtype: object

In [10]:
schema_df.loc['SurveyEase','QuestionText']

'How easy or difficult was this survey to complete?'

In [11]:
schema_df.sort_index(inplace=True,ascending=True)
schema_df

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

In [12]:
schema_df['QuestionText']['Respondent']  ##same as below
schema_df.loc['Respondent','QuestionText']

'Randomized respondent ID number (not in order of survey response time)'

In [13]:
schema_df.loc['MgrIdiot']

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [14]:
schema_df.loc['MgrIdiot','QuestionText']

'How confident are you that your manager knows what theyâ€™re doing?'