In [114]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com'],
}

import pandas as pd
df = pd.DataFrame(people)

In [115]:
###add/remove columns
df['full_name'] = df['first'] + ' ' + df['last']
df
# df.drop(columns=['first','last'],inplace=True)
# df

# df['full_name'].str.split(' ',expand=True)


# df[['first','last']] = df['full_name'].str.split(' ',expand=True)
# df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe

In [116]:
###add/remove rows    ##getting deprecated ,use concat below
# df.append({'first':'tony'},ignore_index=True)

In [117]:
people2 = {
    'first':['Tony']
}
df2 = pd.DataFrame(people2)

df = pd.concat([df,df2],ignore_index=True)
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@email.com       Jane Doe
2   John      Doe        JohnDoe@email.com       John Doe
3   Tony      NaN                      NaN            NaN

In [125]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com'],
}

df = pd.DataFrame(people)

people = {
    'first': ['Tony', 'Steve'],
    'last': ['Stark', 'Rogers'],
    'email': ['IronMan@avenge.com', 'Cap@avenge.com']
}

df2 = pd.DataFrame(people)

df = pd.concat([df,df2],ignore_index=True)
# df
# df.drop(index=4,inplace=True)
# df

# filt = df['last'] == 'Doe'
# df.drop(index=df[filt].index,inplace=True)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com
3   Tony    Stark       IronMan@avenge.com
4  Steve   Rogers           Cap@avenge.com